<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106484307478-i3khbq6dicalmd90ihni2ugluhn4paop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106484307478-i3khbq6dicalmd90ihni2ugluhn4paop</string>
	<key>API_KEY</key>
	<string>AIzaSyD-7stFWI106YnhmJ-mDdQqg4qMK6Hi6Jg</string>
	<key>GCM_SENDER_ID</key>
	<string>106484307478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.pikatech.maintenance</string>
	<key>PROJECT_ID</key>
	<string>lotus-maintenance-622ee</string>
	<key>STORAGE_BUCKET</key>
	<string>lotus-maintenance-622ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106484307478:ios:5e5aa1eb172703d0</string>
	<key>DATABASE_URL</key>
	<string>https://lotus-maintenance-622ee.firebaseio.com</string>
</dict>
</plist>